.custom-tabs {
    font-family: 'Arial', sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .custom-tab-list {
    display: flex;
    padding: 10px;
    background-color: #f5f5f5;
    list-style-type: none;
    margin: 0;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 16px;
    gap: 12px;
    padding-left: 0;
  }
  
  .custom-tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #555;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px; /* Espacement entre les onglets */
    list-style: none;
    font-weight: 500;
  }
  
  .custom-tab:last-child {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  

  .custom-tab:hover {
    background-color: #e0e0e0;
  }
  
  .custom-tab.active {
    background-color: #1976d2;
    color: #fff;
    font-weight: bold;
  }
  
  .react-tabs__tab--selected {
    background-color: #fff; 
    color: #333; 
    border: 1px solid #ccc; 
     border-bottom: none; 
  }
  
  .react-tabs__tab-panel {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
  }
  